.mx-element-config-form {
  width: 100%;
}

.mx-element-config-form__row {
  width: 100%;
}

.mx-element-config-form__row--inline .el-form-item__content {
  min-width: 120px;
}

.mx-element-config-form__control {
  width: 100%;
}
