.mx-config-form-designer__responsive-settings {
  display: grid;
  padding-top: 4px;
  border-top: 1px solid var(--mx-designer-separator);
}

.mx-config-form-designer__responsive-heading {
  padding: 7px 0 4px;
  color: var(--mx-designer-text);
  font-size: 12px;
}
