// 命名空间前缀，可通过覆盖此变量自定义
$namespace: 'cf' !default;

// 间距
$form-gap: 16px 8px !default;
$form-inline-gap: 8px 16px !default;
$field-gap: 8px !default;

// 字段标签样式变量。
$label-font-size: 14px !default;
$label-line-height: 32px !default;

// 字段错误提示样式变量。
$error-font-size: 12px !default;
$error-color: #f56c6c !default;
$error-line-height: 18px !default;
$error-margin-top: 4px !default;
$error-reserved-height: $error-line-height !default;
